@import './variables';

.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: $main-bg;
  color: $main-text;
  
  h1 {
    margin-bottom: 20px;
  }

  pre {
    background-color: $code-bg;
    padding: 20px;
    border-radius: 5px;
    color: $code-text;
  }
  .bg-color-div{
    background: $search-bg !important;
}
}